#fullpage {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section {
    scroll-snap-align: start;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-background {
    background: none;
}

@media (min-width: 768px) {
    .avatar-background {
        position: relative;
        overflow: hidden;
        background-image: url("https://f.imnya.ng/profile/banner.CjixG8N2_15mivN.webp");
        background-size: cover;
        background-position: 400px center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .avatar-background-blur {
        backdrop-filter: blur(5px);
    }
}
