@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0a0a0a;
  color-scheme: dark;
  height: 100%;
}

#avatar {
  display: inline-block;
  font-size: 100px;
  transition: transform 0.5s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(var(--rotate-angle, 0deg));
  }
  100% {
    transform: rotate(calc(var(--rotate-angle, 0deg) + 360deg));
  }
}
