@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #101010;
    --fg: #fff;
}

.main {
    background-color: var(--bg);
    color: var(--fg);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar:hover {
    animation: rotate 1000ms linear infinite;
}