@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: var(--ctp-mocha-base);
    --fg: var(--ctp-mocha-crust);
    --primary: var(--ctp-mocha-lavender);
    --secondary: var(--ctp-mocha-mauve);
    --accent: var(--ctp-mocha-peach);
    --accent-foreground: var(--ctp-mocha-text);
}

.main {
    background-color: var(--bg);
    color: var(--fg);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}