.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #262225;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 100vw;
    height: 100%;
}

.left {
    width: 40%;
    min-height: 100vh;
    background-color: #373236;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.right {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.profile {
    border-radius: 100%;
    width: 256px;
    height: 256px;
    object-fit: cover;
}

.profile:hover {
    animation: rotate 1000ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
    .left {
        width: 100%;
        min-height: auto;
        border-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .right {
        min-height: auto !important;
    }
}