@import "../styles/globals.css";

#fullpage {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@layer base {
  body {
    @apply min-h-screen m-0 p-0 overflow-hidden;
  }
}