@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Noto+Color+Emoji&display=swap');
@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply m-0 p-0 bg-background text-foreground relative min-h-screen;
  }
}

@font-face {
  font-family: 'NType82Headline';
  src: url('https://f.imnya.ng/font/NType82-Headline.woff2') format('woff2');
}

* {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

.font-ntype {
	font-family: "NType82Headline" !important;
}

.tnum {
  font-feature-settings: "tnum";
}

.image-scale {
  transition-property: scale,border-radius box-shadow;
  transition-duration: .7s;
  transition-timing-function: var(--ease-out-expo)
}

@media (hover: hover) {
  .image-scale:hover {
      --tw-scale-x:105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x)var(--tw-scale-y);
      border-radius: var(--radius-lg)
  }
}

.image-scale:hover {
  z-index: 10;
  box-shadow: 0 15px 45px #0006
}
